.header-bg {
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0)),
    url(/static/img/bg-home.jpg);
  background-position: 50%;
  background-size: cover;
  min-height: 70vh;
}

.container-header {
  position: relative;
  top: 200px;
}

#changing-word {
  border-right: 2px solid black; /* Para el cursor de escritura */
  padding-right: 5px;
  display: inline-block;
  font-weight: bold;
  animation: blink-cursor 0.75s steps(2) infinite;
}

@keyframes blink-cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
