{% load wagtailcore_tags static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/partners.css' %}">
<div class='container'>
    <div class="mb-4 mt-4">
        <h1 class="">
            Socios
        </h1>
        <p>
            El proyecto cuenta con la colaboración de diversas instituciones que aportan su experiencia y conocimiento
            en el desarrollo de las actividades.          
        </p>
        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-3 d-flex justify-content-between">
            <a href="https://alliancebioversityciat.org/" target="_blank" class='partner hidden-partner'>
                <img class="img-partner " src="/static/img/alliance.png" alt="Alliance Bioversity & CIAT" />
            </a>
            <a href="https://www.cgiar.org/news-events/news/agrilac-resiliente-una-iniciativa-del-cgiar-para-aumentar-resiliencia-sostenibilidad-y-competitividad-en-america-latina-y-el-caribe/"
                target="_blank" class='partner hidden-partner'>
                <img class="img-partner " src="/static/img/agrilac.png" alt="AgriLAC" />
            </a>
            <a href="https://www.cimmyt.org/" target="_blank" class='partner hidden-partner'>
                <img class="img-partner " src="/static/img/cimmyt.png" alt="CIMMYT" />
            </a>
            <a href="https://icc.org.gt/es/inicio/" target="_blank" class='partner hidden-partner'>
                <img class="img-partner " src="/static/img/icc.jpg" alt="ICC" />
            </a>
        </div>
    </div>
</div>
{% endblock %}