{% extends "base.html" %}
{% load static wagtailcore_tags custom_filters%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/search_results.css' %}">
<div class="bg-catalogue bg-body-tertiary">
    <div class="row container-fluid py-4">
        <h1>Instituciones</h1>
        <!-- Resultados de la búsqueda -->
        <div class="col">
            <div class="d-flex align-items-center mb-2">
                <!-- Barra de búsqueda -->
                <div class="position-relative w-100 card shadow-sm">
                    <span class="position-absolute search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            <path d="M21 21l-6 -6" />
                        </svg>
                    </span>
                    <input type="search" id="searchInput" class="form-control ps-5" placeholder="Buscar..."
                        aria-label="Search">
                </div>

            </div>
            <div id="resultsContainer">

            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/search_institution_results.js' %}"></script>
{% endblock %}