{% extends "base.html" %}
{% load static wagtailcore_tags custom_filters%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-4">
                            <i class="bi bi-people-fill"></i> Colaboradores
                        </h3>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPartnerModal">
                            + Nuevo Colaborador
                        </button>
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for partner in partners %}
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col d-flex justify-content-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
                                        <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                                        <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"/>
                                    </svg>
                                    <div class="ms-2">
                                        <strong>{{ partner.user.first_name }} {{ partner.user.last_name }} </strong>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <span class="badge bg-secondary me-2">{{ partner.institution.name }} </span>
                                    {% if partner.institution.verified %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#2196f3"
                                        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.93 10.588l-2.47-2.47-.707.707 3.177 3.177 6.364-6.364-.707-.707-5.657 5.657z" />
                                    </svg>
                                    {% endif %}
                                    
                                </div>
                                <div class="col text-center">
                                    <form action="{% url 'remove_partner' institution.id partner.user.id %}" method="GET" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                    </form>
                                </div>

                            </div>
                        </li>
                        {% empty %}
                        <li class="list-group-item text-center">No hay socios asociados a esta institución.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar socios -->
<div class="modal fade" id="addPartnerModal" tabindex="-1" aria-labelledby="addPartnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPartnerModalLabel">Agregar Socios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Barra de búsqueda -->
                <div class="position-relative w-100 card shadow-sm">
                    <span class="position-absolute search-icon mt-1 ms-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            <path d="M21 21l-6 -6" />
                        </svg>
                    </span>
                    <input type="search" id="searchInput" class="form-control ps-5" placeholder="Buscar..."
                        aria-label="Search">
                </div>
                
                <!-- Contenedor donde se mostrarán los resultados de búsqueda -->
                <div id="resultsContainer" class="mt-4"></div>
            </div>
        </div>
    </div>
</div>

  <script src="{% static 'js/search_users_results.js' %}"></script>
  {% endblock %}