{% extends "wagtailadmin/base.html" %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Registro de Actividad de Usuarios" icon="user" %}

    <!-- Buscador similar al de Wagtail -->
    <form method="get" class="search-form nice-padding">
        <div class="justify-content-center">
            <input type="text" name="q" class="input" placeholder="Buscar usuario o acción" value="{{ query }}" style="width: 50%;">
            <button type="submit" class="button button--icon button-primary" style="vertical-align: unset;">
                <svg class="icon icon-search" aria-hidden="true"><use href="#icon-search"></use></svg>
            </button>
        </div>
    </form>

    <!-- Tabla de logs -->
    <table class="listing nice-padding" style="margin-top: 10px;">
        <thead>
            <tr>
              
                <th><strong>Usuario</strong></th>
                <th><strong>Acción</strong></th>
                <th><strong>Detalles</strong></th>
                <th><strong>Fecha y Hora</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for user, logs in grouped_logs.items %}
                <tr>
                    <td colspan="5"><strong>{{ user.username }}</strong></td>
                </tr>
                {% for log in logs %}
                    <tr>
                    
                        <td>{{""}}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.formatted_extra_data }}</td>
                        <td>{{ log.timestamp|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
